{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "semi": "off",
    "no-undef": "warn",
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "class-methods-use-this": "warn",
    "no-plusplus": "off",
    "no-param-reassign": "warn",
    "guard-for-in": "warn",
    "no-restricted-syntax": "warn",
    "no-trailing-spaces": "off",
    "no-restricted-properties": "off",
    "no-bitwise": "off"
  }
}